body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../images/autumn.jfif) no-repeat center/cover;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
}

.header__search {
  position: relative;
}

.header__inp {
  outline: none;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 7px 0 0 7px;
}

.header__btn {
  width: 70px;
  border: none;
  height: 30px;
  border-radius: 0 7px 7px 0;
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.header__modal {
  position: absolute;
  width: 96%;
  color: #000;
  background: #FFFFFF;
  top: 35px;
  padding: 10px 5px;
}

.header__result {
  display: block;
  border-bottom: 1px dotted #989898;
}

.today {
  padding: 100px 0;
  color: #d7d7d7;
}

.today__container {
  width: 50%;
  border: 1px solid #fff;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.today__title {
  text-align: center;
  font-size: 34px;
  margin: 15px 0;
  color: #fff;
}

.today__left-side {
  text-align: center;
}

.today__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  font-size: 20px;
}

.today__right-side {
  padding: 20px;
}

.today__date {
  font-size: 24px;
  text-align: center;
}

.today__time {
  font-weight: 600;
  text-align: center;
  font-size: 60px;
  color: #fff;
  border-bottom: 2px solid #d7d7d7;
}

.today__main {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.today__temp {
  padding-left: 30px;
}

.today__temp-main {
  font-size: 80px;
  color: #fff;
}

.today__feels {
  padding-top: 10px;
}

.today__daily {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.today__card {
  position: relative;
  font-size: 18px;
  box-shadow: 0px 91px 30px -14px white inset;
  padding: 5px;
}

.today__card::before {
  content: "";
  box-shadow: -1px -1px 5px 1px #fff;
  position: absolute;
  height: 100%;
  width: 100%;
}

.today__card .today__date {
  text-align: left;
  color: #000;
}

.today__card .today__temp-max {
  color: #fff;
}

.today__card .today__temp-min {
  color: #fff;
}
